.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left-panel {
  width: 100%;
  padding: 16px;
}

.right-panel {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.right-panel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.horoscope-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

/* TABLET */
@media (min-width: 768px) {
  .signs-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .horoscope-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .home {
    flex-direction: row;
  }

  .left-panel {
    width: 55%;
    overflow-y: auto;
  }

  .right-panel {
    width: 45%;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .signs-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .horoscope-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.actions-box{
  margin-top: 40px;      /* espaço acima */
  margin-bottom: 30px;   /* espaço abaixo */

  padding: 20px;

  border: 1px solid #dcdcdc;
  border-radius: 12px;

  background-color: #fafafa;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}