<div class="home">

    <div class="left-panel">

        <div class="signs-header-text-center">
            <h2>: : : First step | Choose your sign : : :</h2>
        </div>

        <div class="signs-header">
            <div class="signs-container" role="group" aria-label="Zodiac radio toggle button group">

                <div *ngFor="let s of signs">
                    <input type="radio" class="btn-check" name="sign" [id]="s.id" [checked]="sign === s.id"
                        (change)="selectSign(s.id)">

                    <label class="btn btn-outline-primary" [for]="s.id">
                        {{ s.label }}
                    </label>
                </div>

            </div>

        </div>

        <div class="actions-box">
            <h2>✦ Choose your prediction ✦</h2>

            <div class="buttons-box">
                <button type="button" class="btn btn-outline-primary btn-md me-4" (click)="getToday()"
                    [disabled]="loading">
                    TODAY
                </button>

                <button type="button" class="btn btn-outline-primary btn-md me-4" (click)="getTomorrow()"
                    [disabled]="loading">
                    TOMORROW
                </button>

                <button type="button" class="btn btn-outline-primary btn-md me-4" (click)="getMonthly()"
                    [disabled]="loading">
                    MONTHLY
                </button>
            </div>
        </div>

        <p *ngIf="loading">Loading horoscope...</p>

        <!--  //CHATGPT -->
        <div class="card border-primary mb-4" *ngIf="todayBirthdays.length > 0">
            <div class="card-header">
                🎂 Today's Birthdays
            </div>

            <div class="card-body">
                <div *ngFor="let member of todayBirthdays">
                    <p><strong>{{ member.name }}</strong> - {{ member.sign }}
                    </p>
                </div>
            </div>
        </div>

        <!--  END CHATGPT -->

        <div *ngIf="horoscopeResult && periodDaily">

            <h2>{{ horoscopeResult.sun_sign | titlecase}}</h2>
            <p>{{ horoscopeResult.prediction_date }}</p>

            <div class="card border-success mb-3">
                <div class="card-header">Personal Life</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.personal_life }}
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Profession</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.profession }}
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Health</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.health }}
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Emotions</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.emotions }}
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Travel</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.travel }}
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Luck</div>
                <div class="card-body">
                    {{ horoscopeResult.prediction.luck }}
                </div>
            </div>

        </div>

        <div *ngIf="horoscopeResult && periodMonthly">
            <div class="horoscope-box monthly-box">
                <h3>{{ horoscopeResult.sun_sign }} - {{ horoscopeResult.prediction_month }}</h3>

                <div class="card border-success mb-3" *ngFor="let item of horoscopeResult.prediction">

                    <div class="card-body text-success">
                        <p class="card-text">{{ item }}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="right-panel">
        <video autoplay muted loop playsinline>
            <source src="/assets/videos/207868.mp4" type="video/mp4">
        </video>
    </div>

</div>