<div class="card shadow p-4 mx-auto mt-5 members-box">

  <h2 class="text-center mb-4"> Birthday Zodiac List </h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">

      <thead>

        <tr>          
          <th>Name</th>
          <th>Birthday</th>
          <th>Sign</th>
          <th>Action</th>
        </tr>

      </thead>

      <tbody>

        @for (member of members(); track member._id) {

        <tr>          
          <td>{{ member.name }}</td>
          <td>{{ member.birthday }}</td>
          <td>{{ member.sign }}</td>

          <td>
            <button (click)="member._id && deleteMember(member._id)" class="btn btn-outline-danger btn-sm">
              Delete
            </button>
          </td>

        </tr>
        }

      </tbody>

    </table>
  </div>

</div>