<h2>Members List</h2>

<table class="members-table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Sign</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

    @for (member of members(); track member._id) {

      <tr>

        <td>{{ member._id }}</td>

        <td>{{ member.name }}</td>

        <td>{{ member.birthday }}</td>

        <td>{{ member.sign }}</td>

        <td>

          <button
            (click)="deleteMember(member._id)"
            class="delete-btn">

            Delete

          </button>

        </td>

      </tr>

    }

  </tbody>

</table>