<div class="container mt-5">

  <p>
    Welcome to <strong>ASTRO</strong> ✨
  </p>

  <p> ASTRO is a simple horoscope web application created for people who enjoy zodiac signs, astrology, and daily predictions. </p>

  <p> Our website allows users to explore horoscope forecasts for all twelve zodiac signs, including daily, tomorrow, and monthly predictions.  </p>
  
  <p> The goal of this project is to provide an interactive and modern experience where users can easily discover horoscope insights in a clean and responsive interface. </p>

  <p> Thank you for visiting <strong>ASTRO</strong> </p>

</div>